@media only screen{
.banner-wrap{
	overflow:hidden;
	position:relative;
	max-width:93.75em;
	margin:0 auto 1.625em auto;
	height:17.25em;
	@media only screen and (min-width:64.063em){
		height:25em;
	}
	img{
		max-width:none;
		height:auto;
	}
}
.banner{
	position:absolute;
	top:0;
	left:0;
	@media only screen and (min-width:77.875em){
		left:50%;
		margin-left:-38.9375em;
	}
	& > div{
		font-size:1.5em;
		line-height:1.2;
		margin: 0;
		color:#fff;
		background-color:$lt-green-90;
		text-align:left;
		height:11.5em;
		padding: 0 .6875em;
		@media only screen and (min-width:40.063em){
			background-color:$lt-green;
		}
		@media only screen and (min-width:64.063em){
			height:16.666666em;
			//padding-top:2em;
		}
		a.button{
			font-size:.75em;
		}
	}
	.center{
		position: relative;
		top: 50%;
		transform: translateY(-60%);
		font-size:.8em;
		@media only screen and (min-width:43.125em){
			font-size:1em;
		}
	}
}
}