// search and filter forms
article#content{
	fieldset{
		border:none;
		padding:0;
		legend{
			font:800 1.5em/1.4 "proxima-nova",sans-serif ;
	        color:#000;
		}
		input,
		select,
		a.reset{
			width:100%;
			margin:1em 0;
		}
		a.reset,
		input[type="submit"] {
			display:inline-block;
			background-color:$dark-green;
			color:#fff !important;
			@include border-radius(.4375em);
			text-align:center;
			padding:.25em;
			text-decoration:none;
			line-height:1.2;
		}
	}
	#event-filter,
	#people-filter,
	#resource-filter,
	#activity-filter{
		input[type='text'],
		a.reset {
			@media only screen and (min-width:40.063em){
				width:48%;
				margin-right:2%;
				@media only screen and (min-width:64.063em){
					width:23%;
				}
			}
		}
		select,
		input[type='submit']{
			@media only screen and (min-width:40.063em){
				width:48%;
				@media only screen and (min-width:64.063em){
					width:23%;
				}
			}
		}
		p.button-group{
			@media only screen and (min-width:64.063em){
				display:inline;
				margin-left:1em;
			}
		}
		
	}
	// reources
	section.featured-resources{
		background-color:$lt-green;
		color:#fff;
		margin:1em -.9375em;
		padding:1em;
		@media only screen and (min-width:64.063em){
			margin:1em 0;
			@include border-radius(.5em);
		}
		h2{
			border-bottom: 1px solid #fff;
			color:#fff;
		}
		a{
			color:#fff !important;
		}
	}
	ul.events-list,
	ul.news-list,
	ul.people-list,
	ul.resource-list,
	ul.activity-list {
		padding:0;
		list-style:none;
		li{
			overflow:auto;
			img{
				@media only screen and (min-width:40.063em){
					float:right;
					margin: 0 0 1em 1em;
					width:12.5em;
				}
			}
			p, h3, h2, h4{
				margin:.5em 0;
			}
		}
	}
	ul.main-activities-list{
		list-style:none;
		a{
			color:$dark-green;
		}
	}
	ul.horizontal{
		margin:0;
		li{
			margin:0;
			width:32%;
			display:inline-block;
			vertical-align:top;
		}
	}
	ul.people-list {
		li.person{
			@media only screen and (min-width:40.063em){ 
				display:inline-block;
				vertical-align:top;
				width:49%;
				@media only screen and (min-width:64.063em){
					width:32%;
				} 
			}
			.person-container{
				max-width:10em;
				margin:0 auto;
			}
			img{
				float:none;
				margin:0;
			}
		}
	}
	.title{
		font-size:.8125em;
	}
	// detail pages
	div.detail-image,
	img.detail-image{
		margin:1em 0;
		@media only screen and (min-width:40.063em){
			margin:0 0 1em 1em;
			float:right;
			max-width:18.75em;
		}
	}

	// featured items on homepage and activity home pages
	.featured-img{
		@media only screen and (min-width:40.063em){
			float:left;
			margin:0 1em 1em 0;
			max-width:12.5em;
		}
		@media only screen and (min-width:64.063em){
			float:right;
			margin:0 0 1em 1em;
		}
	}
	aside.featured{
		p, h3, h2, h4{
			margin:.5em 0;
		}
		@media only screen and (min-width:64.063em){
			div.columns:nth-child(odd){
				clear:left;
			}
			div.columns:last-child{
				float:left !important;
			}
		}
	}

	// listserv form
	#listserv{
		legend{
			font:700 1.3125em/1.4 "proxima-nova",sans-serif ;
			color:$lt-green;
		}
		fieldset{
			p{
				margin:.25em 0;
				@media only screen and (min-width:40.063em){
					width:48%;
					display:inline-block;
					&:first-child{
						margin-right:1em;
					}
				}
			}
		}
		label{
			display:block;
		}
		input[type="text"],
		input[type="email"]{
			width:100%;
		}
		input{
			margin:.25em 0;
		}
	}
	.thankyou{
		margin-bottom:1em;
	}
}