@media only screen {
// for broswers that don't support svg
html.no-svg{
    div.masthead a{
        // masthead-helmet-green.png
        background:url('http://www.anr.msu.edu/contentAsset/raw-data/77909120-9e8a-424c-97c8-d72d8310a489/fileAsset?byInode=true') no-repeat center center;
        width: 298px;
        height: 34px;
        display: inline-block;
    }

}
#outer-wrap.home{
    header{
        background:#fff url('/includes/CRFS-Texture.png') center top repeat-x;
        margin-bottom:0;
        a{
            color:$lt-green;
        }
        .masthead-row{
            background:#fff url('/includes/CRFS-Texture.png') center top repeat-x;
            svg{
                fill:$msu;
            }

        }
        .title-row{
            a:hover,
            a:focus{
                text-decoration: none;
                border-bottom:1px solid $lt-green;
            }
            svg{
                fill:$lt-green;
            }
        }

    }
}
header{
    background-color:$lt-green;
    margin-bottom:1.625em;
}
    .masthead-row {
        position:fixed;
        z-index:100;
        background-color:$lt-green;
        svg{
            fill:#fff;
        }
    }
    .masthead {
        height:2.125em;
        margin-top:1em;
        div.logo{
            @media only screen and (min-width:40.063em){
                float: left;    
                width: 48%;
            }
        }
        a{
            display: block;
            position: relative;
            height: 2.125em;
            max-width: 18.75em;
            .masthead{
                width: 100%;
                height: 100%;
                margin: 0; 
            }

        }
    }


    .title-row {
	   padding-top:2.5em;
        h1{
            font-size:1.5em;
            text-transform:uppercase;
            position:relative;
            small{
                display:block;
                font-weight:400;
            }
            a{
                color: #fff;
                text-decoration: none;
            }
            a:hover,
            a:focus{
                text-decoration: none;
                border-bottom:1px solid #fff;
            }
            svg{
                display:none;
                width:5em;
                max-height:1.5em;
                position:absolute;
                bottom:0;
                fill:#fff;
                @media only screen and (min-width:28.125em){
                    display:inline-block;
                }
            }
        }
    }
    #networkElement,
    #cse-search-box{
        display:none;
    }
    
}
@media only screen and (min-width: 64.063em) {
    #cse-search-box,
    #networkElement,
    .masthead form {
        display:block;
    }
    .masthead-row {
        position:relative;
    }
    .title-row {
        padding-top:0;
    }
    div#search-medium {
        display:inline;
    }
    .masthead form { 
        float:right; 
        background: none repeat scroll 0 0 #FFFFFF;
        border: .0625em solid #999999;
        @include border-radius(.1875em);
        height: 1.75em;
        margin-bottom: .75em;
        width: 18.75em;
        overflow:hidden;
    }
    .masthead form input[type=text] { 
        border:none;
        width:16em;
        padding-left:.25em;
        margin-top: .125em;
    }
    .masthead form input[type=submit] {
        // icon-search.svg
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/1ed718dc-d1a8-4133-b025-842c39797a3e/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        @include border-radius( 0 .1875em .1875em 0);
        cursor: pointer;
        float: right;
        height: 1.75em;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2.125em;
    }
    html.no-svg .masthead form input[type=submit] {
        // icon-search.png
        background: url("http://www.anr.msu.edu/contentAsset/raw-data/0e7e7767-56db-459b-ba1a-097a8e2ab74c/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
    }
}