@media only screen {
    div#nav-medium{
        display: none;
        @media only screen and (min-width: 64.063em) {
            display: block;
            margin-top:1.125em;
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li.level_1{

                    & > a{
                        display:block;
                        padding:1em .5em;
                        margin:0;
                        text-decoration:none;
                        color:#000;
                        font-size:1.125em;
                    }
                    &.active > a,
                    & > a:focus{
                        background-color:$dark-green;
                        color:#fff;
                        text-decoration:underline;
                    }
                    & >a:hover{
                        text-decoration:underline;
                    }
                    & > ul{
                        border-bottom:1px solid $gray;
                    }
                }
                li.level_2{
                    & > a{
                        display:block;
                        padding:1em;
                        font-size:1em;
                        color:$lt-green;
                        text-decoration:none;
                    }
                    &.active > a{
                        text-decoration:underline;
                    }
                }
                a:hover,
                a:focus{
                    text-decoration:underline !important;
                  // color:rgb(255,255,255);
                  // color:$dark-green;
                }
                ul{
                    display: none;
                  }
                li.active{
                    ul{
                        display: block;
                    }
                }
            }
        }
    }
}