@media print {
    header,
    nav,
    .banner-wrap > img,
    footer {
        display:none;
    }
    img{
        min-width:inherit;
        max-width:10em;
    }
    a { 
        color:#186B9B;
    }
    a:after {
        content: " (" attr(href) ")";
        font-size: 80%; 
    }
}