/*
// shared/sitewide/css/sitewide.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/633acb94-1581-4a5b-b70f-55001d5f594a/fileAsset?byInode=true";
// shared/sitewide/css/normalize.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/22d2249d-5b12-4242-9c75-b1b7d8335406/fileAsset?byInode=true";
// shared/sitewide/css/foundation.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/5dc70ee0-d9ce-4a80-a7a4-a3244b87a660/fileAsset?byInode=true";
// shared/sitewide/css/tables-responsive.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/dabd13d2-7f83-4fe2-b3c7-90f93e83fd33/fileAsset?byInode=true";
// shared/anr_bar/scss/styles.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/279be22f-18d1-48a5-a7c5-fa9cb77fb0fc/fileAsset?byInode=true";
*/
@import "D:\css\sitewide\sass\sitewide";
@import "D:\css\sitewide\sass\normalize";
@import "D:\css\sitewide\sass\foundation";
@import "D:\anr_bar\scss\styles";
@import "mixins";
@import "variables";
@import "header";
@import "banner";
@import "nav-medium";
@import "footer";
@import "content-types";
@import "mobile-nav";

svg{
    margin: 0; 
}
svg text {
    visibility: hidden;
    height: 0;
    width: 0;
}
@media only screen {
    h2.landmark {
        position: absolute;
        top:-3333em;
        left: -3333em;
    }
    body {
        color:#000;
        line-height: 1;
        background-color:#463214;
        font-family: "proxima-nova",sans-serif;
    }
    #outer-wrap {
        width:100%;
        height:100%;
        float:left;
    }
    #inner-wrap{
        background-color:#fff;
    }
    a.button{ 
        font-size:1.125em;
        display:inline-block; 
        padding:.75em 2.5em;
        color:$dark-green;
        background-color:#fff;
        @include border-radius(.4em);
        border-bottom: 0.25em solid rgb(204, 204, 204);
        text-transform:uppercase;
        text-decoration:none;
        font-weight:700;
        @media only screen and (min-width:40.063em){
            margin: 1em 0;
        }
    }
    .clear{
        clear:both;
    }
    #page{
        @media only screen and (min-width:64.063em){
            background:#FFF url("/includes/nav-line.png") repeat-y scroll 25% 0px;
        }
    }
    article#content{
        h1{
            color:$green;
            font:900 1.5625em/1.4 "proxima-nova",sans-serif ;
            margin:.5em 0;
            a{
                color:$green;
            }
        }
        h2{
            font:700 1.3125em/1.4 "proxima-nova",sans-serif ;
            color:$lt-green; 
            margin:.5em 0; 
        }
        h3 {
            font:800 1.125em/1.4 "proxima-nova",sans-serif ;
            color:$green;
            margin:.75em 0;
            a{
                color:$lt-green;
            }
        }
        h2.bar,
        h3.bar{
            background-color:$dark-green;
            color:#fff;
            padding:.25em .5em;
            clear:both;
            font-weight:500;
            font-size:110%;
            &:first-letter{
                text-transform:capitalize;
            }
            &.green{
                background-color:$lt-green;
                font-weight:900;
            }

        }
        h2.featured-items{
            color:#000;
            border-bottom:0;
            font-size:1.125em;
            font-weight:300;
        }
        h4 { 
            font:700 1em/1.4 "proxima-nova",sans-serif ;
            color:$dark-green;
            margin:1em 0;
            a{
                color:$dark-green;
            }
        }
        h5 {
            font:700 .875em/1.4 "proxima-nova",sans-serif ;
            color:$dark-green;
            margin:1em 0;
            a{
                color:$dark-green;
            }
        }
        h6 {
            font:700 .75em/1.4 "proxima-nova",sans-serif ;
            color:$lt-green;
            margin:1em 0;
        }
        .details{
            color:$green;
            a{
                color:$green;
            }
        } 
        a{
            color: $lt-green;
            text-decoration:underline;
        }
        a:hover,
        a:focus{ 
            text-decoration: none;
        }
        p {
            margin: 1em 0;
            line-height: 1.4;
            &.publish,
            &.author,
            &.details{
                margin:.5em 0;
            }

        }
        .type, .content-type{
            font-size:.8461em;
            font-weight:600;
            text-transform:uppercase;
        }
        li{
            margin: .5em 0;
            line-height: 1.4;
        }
        blockquote{
            margin: 1em;
            line-height: 1.4;
        }
        img{
            min-width:100%;
            @media only screen and (min-width:40.063em){
                min-width:auto;
            }
        }
        ul.paginate,
        ul.pagination{
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li{
                display: inline-block;
                padding: .5em 1em;
                a{

                }
                &.active{
                    a{
                        color:#000;
                        text-decoration:none;
                    }
                }
            }
            li:first-child{
                padding-left: 0;
            }
            li:last-child{
                padding-right: 0;
            }
        }
    }
}
@import "print";